@font-face {
    font-family: 'Roboto Mono';
    src: url('./www/font/RobotoMono.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}
.container {
    display: flex;
    height: 100%;
}
.section {
    display: flex;
    flex-direction: column;
}
.subsection {
    flex: 1;
    text-align: center;
}
.subsubsection {
    flex: 1;
    flex-direction: column;
}
.section1 {
    flex: 10%;
    background-color: #ff0000;
}
.section1-1 {
    flex: 50%;
    background-color: #a50505;
}
.section1-2 {
    flex: 50%;
    text-align: right;
    background-color: #520101;
}
.section2 {
    flex: 50%;
    background-color: #0d00ff;
    display: flex;
}
.section2-1 {
    flex: 5%;
    background-color: #0b0ba7;
}
.section2-2 {
    flex: 5%;
    background-color: #2b05c2;
}
.section2-3 {
    flex: 60%;
    font-size: 18px;
    text-align: center;
    background-color: #7574b6;
}
.section2-4 {
    flex: 30%;
    font-size: 20px;
    
    text-align: center;
    background-color: #ec63f1;
}
.section3 {
    flex: 40%;
    background-color: #00ff51;
    display: flex;
    
}
.section3-1 {
    flex: 50%;
    background-color: #0ab136;
    font-size: 30;
}
.section3-2 {
    flex: 50%;
    text-align: right;
    background-color: #056a23;
    font-size: 30;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px;
    font-size: 12px;
}
th{
    border: 1px solid black;
    padding: 8px;
    font-size: 20px;
}
td {
    border: 1px solid black;
    padding: 16px;
}

.section4 {
    flex: 50%;
    height: 50%;
    background-color: #f2ff00;
    display: flex;
    font-size: 14px;
}
.section5 {
    flex: 50%;
    height: 50%;
    background-color: #dda304;
    display: flex;
    font-size: 14px;
    
    
}
input {
    width:5%;
    height:50%;
    font-size: 16px;
}
button{
    width:85px;
    height:80%;
    font-size: 16px;
}
p{   
    font-size: 12px;
}